

body {
  background-color: lightgray;
margin: 0;
}



header {
  height: 200px;
  width: 100vw;
  background-color: slategray;


}

main {
  height: 1000px;
  width: 1500px;
  background-color: white;
margin-top: 0;
margin-left: 180px;

margin-right: 80px;
}

footer {
  height: 700px;
  width: 78.2vw;
  background-color: black;
  margin-top: 0;
  margin-left: 180px;

}
