* {
  box-sizing: border-box;

}

.image {
  height: 100px;
  width: 100px;
background-color: coral;
float: left;


}

.col-1 {
  height: 100vh;
  width: 50%;
  background-color: black;
margin: auto;

}

.col-2 {
  height: 100vh;
  width: 50%;
  background-color: yellow;
margin: auto;
}


body {
  margin: 0;
}
