

.content {
  width: auto;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid black;

}


.icon {
  height: auto;
  width: auto;
  float:left;
  margin: 70px;


}
.row {
display: flex;
justify-content: space-around;
width: auto;
/*margin: 0 auto;*/
flex-direction: row;
flex-wrap: wrap;
}

img {
  height: 140px;

}

h3 {
  font-size: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 332px;
  padding-right: 310px;
}

h2 {
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1340px;
  padding-right:
}
